body {
    color: rgb(48, 32, 32);
    background-color: rgb(139, 178, 167);
}

img {
    height: 300px;
    width: 300px;
}

h1 {
    background-color: rgb(90, 131, 131);
}

.button {
    margin-left: 20px;
    margin-top: 15px;
    background-color: rgb(196, 222, 169);
    border-radius: 5px;
}