{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/django_music.css' %}">
    <title>Add Album</title>
</head>
<body>
    <h3>Adding Albums</h3>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button types='submit'>ADD</button>
    </form>
</body>
<footer>
    <button class='button is-primary'><a href="{% url 'home' %}">Home</a></button>
</footer>
</html>