{% extends 'base.html' %}
{% block title %}<title>Albums</title>{% endblock %}
{% block content %}
    <h1>About the band and album</h1>
    <h2>{{ album_description.artist }}</h2>
    <h2>Album: {{ album_description.title }}<h2>
    <p>Genre: {{ album_description.genre }}</p>
    {% if album_description.image %}
    <img src="{{album_description.image.url}}" alt="album cover">
    {% endif %}

<footer>
    <button class='button is-primary'><a href="{% url 'edit_album' album_description.pk %}">Edit This Entry</a></button>
    <button class='button is-primary'><a href="{% url 'delete_album' album_description.pk %}">Delete</a></button>
    <button class='button is-primary'><a href="{% url 'home' %}">Home</a></button>
</footer>
{% endblock %}